body{
	margin: 0;
    font-family: 'helvetica', 'arial', sans-serif;
    font-size: 20px;
    line-height: 30px;
    background-color: #d14635
}


	header{
		background-color: #d14635;
		text-align: center;
		padding-top: 20px;
		padding-bottom: 50px;

	}

h1, h2{
    background-color: #d14635;
	font-family: 'Righteous', cursive;
}

header h1{
	color: white;	
    font-size: 50px;
}

header img{
	border-radius: 150px;
	border-color:white;
    width: 550px;

}



main{
	background-color: solid chocolate;
	font-family: 'Righteous', cursive;
	max-width: 1000px;	
	margin: 0 auto;
	padding: 0 20px;
}


main img{
	max-width: 100%;
}

h2{
	font-size:35px;
	color: white;
}
a{
	color: white;
}
a:hover{
	background-color: black;
}
footer{
	background-color: #d14635;
		text-align: center;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	footer a:hover{
		opacity: .5;
		background-color: transparent;
	}